.display-container{

    width: 100%;
    height: 20%;
    display: flex;
    background-color: rgb(255, 255, 255);
}


.cookie-container{

    position: fixed;
    bottom: 0;
    text-align: center;
    border: none;
    margin-top: 20em;
    margin-bottom: 0px;
    height: auto;
    width: 100%;
    background-color: #D9D9D9;

}

.description{
    display: flex;
    text-align: center;
    padding: 3px;
    border: none;
    color: #1A242D;
    font-family: 'Mulish';
    font-size: 100%;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    justify-content: center;
}
