.button {
    border-radius: 8px; /* Single value for border-radius */
    display: flex;
    justify-content: center; /* Lowercase */
    align-items: center; /* Lowercase */
    padding: 18px 24px; /* Units for padding */
    gap: 10px; /* No quotes for numbers */
    text-transform: none; /* Lowercase */
    width: 100%; /* No quotes for percentage */
    height: 50px; /* Units for height */
    margin-top: 20px; /* Units for margin-top */
    font-size: 20px; /* Units for font-size */
    font-style: normal; /* Lowercase */
    font-weight: 600; /* No quotes for font-weight */
    line-height: 120%; /* Units for line-height */
    letter-spacing: 0.08px; /* Units for letter-spacing */
    background-color: #C7923E;
    text-align: center; /* Lowercase */
    transition: background-color 0.3s ease;
    font-family: 'Mulish', sans-serif; /* Mulish font added */
    color: white;
  }
  
  .button:hover {
    background-color: #c7833e;
  }
  